@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-md-center">@ViewData["Message"]</h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">CRUD application</a>.</p>
</div>
