@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to My Portfolio!</h1>
    <p>This is a web application where I share small projects that are part of my learning and experience.</p>
    <p>This application is built using technologies such as .NET, Bootstrap, JavaScript, C#, among others.</p>
</div>
