@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container text-center mt-5">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        Your privacy is important to me. This website is a portfolio showcasing my work and does not collect or store any personal data. You can explore the site without any concerns about your privacy.
    </p>
</div>