@{
    ViewData["Title"] = "Projects";
}

<div class="container text-center mt-5">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="col-md-4">
        <a class="text-dark" asp-area="" asp-controller="Projects" asp-action="Clock" style="text-decoration: none;">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Clock</h5>
                    <p class="card-text text-black-50">Just a simple clock made with JavaScript.</p>
                </div>
            </div>
        </a>
    </div>
